.git
.github
.vs
.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
**/dist
**/.gradle
**/.cxx
CareHub.Mobile.ReactNative/android/app/src/main/assets
CareHub.Mobile.ReactNative/android/app/src/main/res/drawable-*/
